[common]
cloudtrax_url = https://cloudtrax.com/
login_page = dashboard.php
node_checkin_page = checkin-graph2.php
data_page = nodes_attnt2.php
user_page = users2.php

[database]
type = pgsql
host = db.yourdomain.com.au
database = dbname
username = set_your_username
password = set_your_password

[email]
to = user@yourdomain.com.au
from = cloudscraper@yourdomain.com.au
subject = CloudScraper Statistics
server = mail.yourdomain.com.au
title = Email Report Title
;username = set_your_username
;password = set_your_password

[set_your_network]
username = set_your_username
password = set_your_password

[default_gateway]
quota = 5000000
email = user@yourdomain.com.au
